/* This is Calneder Container div */
.calender-container {
  /* border: 2px solid black; */
  height: 400px;
  width: 700px;
  position: absolute;
  left: 450px;
  top: 120px;
  /* border-radius: 58px; */
  /* padding: 5px; */
  box-shadow: 0 0 10px 1px rgb(167, 213, 243);
}

/* This is NPM react Calender */
.react-calendar {
  width: 800px;
  height: 420px;
  max-width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

/* This all are buttons inside the Calender */
.react-calendar__navigation button {
  color: rgb(0, 101, 253);
  min-width: 44px;
  /* background: none; */
  background-color: rgb(251, 252, 252);
  font-size: 22px;
  margin-top: 8px;
  font-weight: 600;
  box-shadow: 0 0 10px;
}

.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* This all are buttons inside the Calender */
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
/* This all are buttons inside the Calender  when hover it changes*/
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 60px;
  margin-bottom: 2.5em;
}

.react-calendar__navigation button {
  min-width: 44px;

  /* background: none; */
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #009efa;
  color: white;
}
.react-calendar__navigation button[disabled] {
  background-color: #de7c7c;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.8em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: bold; */
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
  font-size: 0.85em;
}
.react-calendar__month-view__days__day--weekend {
  /* color: #d10000; */
  color: rgb(131, 126, 126);
  font-size: larger;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: rgb(104, 104, 104);
  font-size: larger;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
  font-size: larger;
}
.react-calendar__tile:disabled {
  background-color: #ffcece;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #2ffd01;
  color: black;
}
.react-calendar__tile--now {
  /* background: #ffff76; */
  background-color: #51c0fc;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #6f48eb;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.bold {
  font-weight: 600;
  font-size: 18px;
}
